<h1>Editar</h1>

<%= render "form", tweet: @tweet %>

<br>


  <div class="mb-3">
    <td><a class="btn btn-secondary" role="button"<%= link_to "Ver", @tweet %> </td> 
    <td><a class="btn btn-secondary" role="button"<%= link_to "Inicio", tweets_path %></td>
  </div>

